---
import "../styles/global.css";
import Header from "../components/Header.astro";
import CONFIG from "../config.ts";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  author?: string;
  description?: string;
  publishDate?: Date;
  modifiedDate?: Date;
  ogImage?: string;
}

const {
  title = CONFIG.title,
  author = CONFIG.author,
  description,
  publishDate,
  modifiedDate,
  ogImage,
} = Astro.props;

const jsonLDData = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: title,
  description: description,
  author: {
    "@type": "Person",
    name: author,
  },
  datePublished: publishDate,
  dateModified: modifiedDate,
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = ogImage;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{`${title}`}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!-- Google JSON-LD Structured data -->
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(jsonLDData)}
    />

    <!-- Cloudflare Web Analytics -->
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "a72f4b7833af4bf0816b24ad219f50ef"}'
    ></script><!-- End Cloudflare Web Analytics -->
    <!-- Google tag (gtag.js) -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-YB0NS64VV8"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-YB0NS64VV8");
    </script>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 0.5rem;
    max-width: 1024px;
    width: 100%;
    background: var(--bg-color);
  }

  main {
    flex: 1;
    margin: 1rem 0.2rem;
  }
</style>
